/****** buttons' style starts here ******/
.ss-button-primary {
  cursor:pointer;
  text-align:center;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  @include font-size(15);
  text-decoration: inherit;
  border: 3px solid;
  padding: 13px 85px;
  margin: 10px 10px 10px 0px; 
}
.button:hover {
  -webkit-transition: 200ms ease-in;
     -moz-transition: 200ms ease-in;
       -o-transition: 200ms ease-in;
          transition: 200ms ease-in; }


/****** blue buttons ******/
.ss-button-variation-1 {
  background-color: rgba(255,255,255,0);
  border-color: rgb(52,168,200); /* #34a8c8 */
  color: rgb(52,168,200); }
.ss-button-variation-1:hover {
  border: 3px solid rgba(52,168,200,0.7);
  color: rgba(52,168,200,0.7); }

.ss-button-variation-2 {
  background-color: rgb(52,168,200);
  border-color: rgb(52,168,200);
  color: rgb(255,255,255); }
.ss-button-variation-2:hover {
  background-color: rgba(255,255,255,0);
  border-color: rgb(52,168,200);
  color: rgb(52,168,200); }

.ss-button-variation-3 {
  background-color: rgba(255,255,255,0);
  border-color: rgb(52,168,200);
  color: rgb(52,168,200); }
.ss-button-variation-3:hover {
  background-color: rgb(52,168,200);
  border-color: rgb(52,168,200);
  color: rgb(255,255,255); }


/****** green buttons ******/
.ss-button-variation-4 {
  background-color: rgba(255,255,255,0);
  border-color: rgb(124,191,66); /* #7cbf42 */
  color: rgb(124,191,66); }
.ss-button-variation-4:hover {
  border: 3px solid rgba(124,191,66,0.7);
  color: rgba(124,191,66,0.7); }

.ss-button-variation-5 {
  background-color: rgb(124,191,66);
  border-color: rgb(124,191,66);
  color: rgb(255,255,255); }
.ss-button-variation-5:hover {
  background-color: rgba(255,255,255,0);
  border-color: rgb(124,191,66);
  color: rgb(124,191,66); }

.ss-button-variation-6 {
  background-color: rgba(255,255,255,0);
  border-color: rgb(124,191,66);
  color: rgb(124,191,66); }
.ss-button-variation-6:hover {
  background-color: rgb(124,191,66);
  border-color: rgb(124,191,66);
  color: rgb(255,255,255); }


/******  red buttons ******/
.ss-button-variation-7 {
  background-color: rgba(255,255,255,0);
  border-color: rgb(226,65,62); /* #e2413e */
  color: rgb(226,65,62); }
.ss-button-variation-7:hover {
  border: 3px solid rgba(226,65,62,0.8);
  color: rgba(226,65,62,0.8); }

.ss-button-variation-8 {
  background-color: rgb(226,65,62);
  border-color: rgb(226,65,62);
  color: rgb(255,255,255); }
.ss-button-variation-8:hover {
  background-color: rgba(255,255,255,0);
  border-color: rgb(226,65,62);
  color: rgb(226,65,62); }
  
.ss-button-variation-9 {
  background-color: rgba(255,255,255,0);
  border-color: rgb(226,65,62);
  color: rgb(226,65,62); }
.ss-button-variation-9:hover {
  background-color: rgb(226,65,62);
  border-color: rgb(226,65,62);
  color: rgb(255,255,255); }


/******  grey buttons ******/
.ss-button-variation-10 {
  background-color: rgba(255,255,255,0);
  border-color: rgb(149,165,166); /* #95a5a6 */
  color: rgb(149,165,166); }
.ss-button-variation-10:hover {
  border: 3px solid rgba(149,165,166,0.8);
  color: rgba(149,165,166,0.8); }

.ss-button-variation-11 {
  background-color: rgb(149,165,166);
  border-color: rgb(149,165,166);
  color: rgb(255,255,255); }
.ss-button-variation-11:hover {
  background-color: rgba(255,255,255,0);
  border-color: rgb(149,165,166);
  color: rgb(149,165,166); }

.ss-button-variation-12 {
  background-color: rgba(255,255,255,0);
  border-color: rgb(149,165,166);
  color: rgb(149,165,166); }
.ss-button-variation-12:hover {
  background-color: rgb(149,165,166);
  border-color: rgb(149,165,166);
  color: rgb(255,255,255); }