.ss-component-footer{
@include flexbox();
@include flex-direction(column);

@include mq(tablet){
	margin-top: 0px !important;	
	@include flex-direction(row);
	max-width:$container-max-width;
	margin:auto;
}

.ss-component-footer-reserved-rights{
text-align:right;	
}

.ss-social-icons{
	text-align:center;
}

.ss-component-footer-logo{
	text-align:center;
	margin-top: 0px;
	@include mq(tablet){
	text-align:left;
	}
}

.ss-social-icons{
margin-top: 0px
}

.ss-component-footer-logo, .ss-social-icons, .ss-component-footer-reserved-rights{
	@include align-self(center);
	}
}