.ss-form{
background: $ss-lign-fill;
padding:20px;

	
	.ss-form-submit{
	@extend .ss-button-primary;
	display:block;
	margin:auto;
	width:50%;
	}

	.ss-form-email{
	display:block;
	padding:10px;
	margin:10px 0px 20px 0px;
	width:90%;
	}

	.ss-form-disclaimer{
	display:block;
	@include font-size(13px);
	margin-top: 20px;
	}

}
