.ss-form{
background: $ss-lign-fill;
padding:20px;

	
	.ss-form-submit{
	@extend .ss-button-primary;
	display:block;
	margin:auto;
	width:50%;
	}

	.ss-form-email{
	display:block;
	padding:10px;
	margin:10px 0px 10px 0px;
	width:90%;
	}

}
