$hero-image-height:250px;

.ss-component-introduction{
overflow:hidden;
position:relative;
margin-top: $related-spacing;
-js-display: flex;
@include flexbox();
@include flex-direction(column);
	@include mq(tablet){
		@include flex-direction(row);
}

figure{
@include bg-cover('../images/silvana.jpg', no-repeat);
background-position:0% 23%;
padding:0px;
margin:0px;
min-height:$hero-image-height;
}

.ss-component-introduction-copy-holder{
	@include box-sizing(border-box);
	min-height:$hero-image-height;
	position: relative;
	padding:0px 20px 10px 40px;
	z-index: 20;
	background: $ss-lign-fill;
}

	.angle{
	background: $ss-lign-fill;
	position: absolute;
	top: 0;
	z-index: 10;
	left: -30px;
	height: 420px;
	width: 50px;
	@include transform(rotate(6deg))
	}

}