$navFullscreen-font-size: 3rem;
$navFullscreen-line-height: $navFullscreen-font-size * 2;
$navFullscreen-font-size-mobile: 2rem;
$navFullscreen-line-height-mobile: $navFullscreen-font-size-mobile * 2;

.ss-mobile-navigation{
	display: block;
	@include mq(tablet){
		display: none;	
	}
}
.ss-navigation-component{
display: none;
@include mq(tablet){
	display: block;
}
	ul{
	height:100%;
	-js-display: flex;
	@include flexbox();
	@include flex-direction(column);
	margin-top: $related-spacing;
	@include mq(mobile-large){
		margin-top: 0px;
		@include flex-direction(row);
	}
	@include align-items(center);
	@include justify-content(space-between);
		li{
			display:inline-block;
			vertical-align:middle;
			margin-bottom: $related-spacing;
			@include mq(mobile-large){
			margin-bottom: 0px;
			}
			a{
			 padding: 9px 0 2px;
			 text-decoration:none;
			 color: #434343;
    		 margin: 0;
		     cursor: pointer;
		    @include font-size(16);
		    border-bottom: 1px solid transparent;
		    -webkit-transition: color 200ms ease-in-out;
		    transition: color 200ms ease-in-out;			
				&:hover{
					color: lighten(#434343, 40%);
					-webkit-transition: color 200ms ease-in-out;
					text-decoration:5px solid underline lighten(#434343, 20%);
		    		transition: color 200ms ease-in-out;
				}

			}
		}
	}
}

.hamburger {
	position: absolute;
	right:0;
	z-index: 9000;
	width: 2.5em;
	height: 2.5em;
	top:20px;
	font-size:18px;
	
	&:hover{
		cursor: pointer;
	}
}
.hamburger__line {
	content: " ";
	display: block;
	width: 100%;
	height: 0.1875em;
	background: black;
	border-radius: 0.5em;
	margin-bottom: 0.5em;
	
	&:last-child{
		margin-bottom: 0;
	}
}

.hamburger--steps .hamburger__line {
	transition: width 0.12s ease-in-out;
	
	&:nth-child(2){
		width: 80%;
	}
	&:last-child{
		width: 55%;
	}
}
	.hamburger--steps-right .hamburger__line {
		float: right;
	}
	.hamburger--steps:hover .hamburger__line {
		width: 100%;
	}

.hamburger--active.hamburger--steps .hamburger__line {
	transition: none;
	width: 100%;
}
.hamburger--active .hamburger__line {
	position: absolute;
	top: 0.8em;
	margin: 0;
	background: white;
	
	&:first-child{
		transform: rotate(-45deg);
	}
	&:nth-child(2){
		display: none;
	}
	&:last-child{
		transform: rotate(45deg);
	}
}

.ss-site-overlay{
background: rgba(51, 51, 51, 0.5);	
opacity:0;
width:      100%;
height:     100%; 
top:        0; 
left:       0; 
position:   fixed;
}

.ss-site-overlay.show{
opacity:1;
z-index: 9999;
}

.ss-mobile-navigation-full-screen{
	visibility: hidden;
position: relative;
height: 70%;
top: 50%;
transform: translateY(-50%);
font-size: 50px;
font-family: 'Vollkorn', serif;
font-weight: 400;
text-align: center;
-webkit-perspective: 1200px;
	perspective: 1200px;

	ul li{
		display: block;
      min-height: 50px;
      position: relative;
      opacity: 1;
	}

}
.ss-mobile-navigation-full-screen.show{
	visibility: visible;
}

.ss-mobile-navigation-full-screen nav ul {
	opacity: 0.4;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-hugeinc.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

.overlay-hugeinc.close nav ul {
	-webkit-transform: translateY(25%) rotateX(-35deg);
	transform: translateY(25%) rotateX(-35deg);
}

  .menu {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 46px;
	width: 46px;
  }
  
  .menu-link {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
  }
  
  .hamburger-icon {
	position: absolute;
	width: 20px;
	height: 14px;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 1px;
  }
  
  .hamburger-bar {
	background-color: #ffffff;
	height: 2px;
	width: 100%;
	border-radius: 2px;
	position: absolute;
	left: 0;
	transition: all 0.25s ease-in-out;
  }
  
  .hamburger-bar-2 {
	top: 0;
	bottom: 0;
	margin: auto;
  }
  
  .hamburger-bar-3 {
	bottom: 0;
  }
  
  .menu.open .hamburger-bar-1 {
	transform: translateY(7px) translateY(-50%) rotate(45deg);
  }
  
  .menu.open .hamburger-bar-2 {
	opacity: 0;
  }
  
  .menu.open .hamburger-bar-3 {
	transform: translateY(-7px) translateY(50%) rotate(-45deg);
  }
  
  .menu-overlay {
	background-color: #000000;
	color: #fffff;
	height: 100%;
	width: 100%;
	position: fixed;
	text-align: center;
	transition: opacity 0.2s ease-in-out;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  .menu-overlay.open {
	opacity: 1;
	visibility: visible;
  }
  
  .prompt {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  nav {
	  position: absolute;
	  height: 80%;
	  top: 50%;
	  transform: translateY(-50%);
	  font-size: 50px;
	  font-family: 'Vollkorn', serif;
	  font-weight: 400;
	  text-align: center;
  }
  
  ul {
	  list-style: none;
	  padding: 0;
	  display: inline-block;
	  position: relative;
	  margin: 25px;
  }
  
  ul.one {
	width:87.563%;
  }
  
  li {
		display: block;
		padding:5px;
		position: relative;
		opacity: 1;
		margin: 5px;
  }
  
  a {
		display: block;
		position: relative;
		color: #ffffff;
		text-decoration: none;
		overflow: hidden;
  }
  
  a.nav-links:hover {
	background-color:#ffffff;
	color: #000000;
	transition: 0.6s;
  }
  
  .display-inline {
	  display: inline-block;
	  margin: 0 10px 0 10px;
  }
  
  input[type=text] {
	  width: 130px;
	  border: 2px solid #ffffff;
	  border-radius: 130px;
	  font-size: 16px;
	  background-color: white;
	  margin: 20px;
	  padding: 12px 20px 12px 40px;
	  -webkit-transition: width 0.4s ease-in-out;
	  transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
	  width: 230px;
	  outline: none;
  }
  
  .social-round-icon {
	width:45px;
	height:45px;
	border:2px solid #ffffff;
	border-radius: 50%;
	text-align: center;
	line-height:inherit;
	font-size: 40px;
	padding: 15px;
  }
  
  a.social-round-icon:hover {
	background-color:#ffffff;
	color: black;
	box-shadow: inset 0 0 0 5px #000;
	transition: .3s;
  }
  