.ss-component-artworks{
	position: relative;
}

.ss-component-arwtworks-paintings{
@include flexbox();
@include flex-direction(column);
	@include mq(tablet){
		@include flex-direction(row);
	}
	
	li{
		text-align:center;
	}	

.ss-component-arwtworks-paintings-caption{
	text-align:center;

	@include mq(desktop){
		text-align:left;		
	}
}

}