.ss-component-arwtworks-paintings li{
	text-align:center;
	@include mq(mobile){
			float:left;
	}

	img{
		max-width:100%;
	}
	
}

.ss-component-arwtworks-paintings li:nth-child(even){
	@include mq(mobile){
		float:right;
	}
}

.ss-component-arwtworks-paintings li:nth-child(3){
	float:none;
	margin:auto;
}