.ss-component-artworks{
	position: relative;
	margin-bottom: 20px;
}

.ss-component-arwtworks-paintings{
-js-display: flex;
@include flexbox();
@include flex-direction(column);
margin-bottom: 20px;
	@include mq(tablet){
		@include flex-direction(row);
	}
	
	li{
		text-align:center;
	}	
figure{
margin:0px;
	@include mq(tablet){
	margin-right:20px;
	}

	img{
	display:block;
	margin:auto;	
	max-height:400px;
	}
}

.ss-component-arwtworks-paintings-caption{
	text-align:center;

	@include mq(desktop){
		text-align:left;		
	}
}

}

.ss-component-arwtworks-cta{
	button{
	@extend .ss-center-item;	
	}
}