// POPUP U
.ss-popup-ui{
  display:block;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: map-get($zindex, sky);
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: all 0.2s ease-in-out;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

  .ss-popup-ui-wrapper{
    visibility:hidden;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: map-get($zindex, cosmos);
    max-height: calc(100% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    @include mq(tablet){
      max-width:700px;
    }

    .ss-popup-ui-content{
      position: relative;
      background: #FFF;
      padding: 0;
      width: auto;
      margin: 0 auto;
      opacity: 0;
      visibility: hidden;
      border: solid 5px #FFF;
      padding:10px;
      transition: all 0.2s ease-in-out;
      transform: scale(0.8);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
      display:table;
      border: 0;
      padding: 0;
      display:flex;
      flex-direction:row;
      min-height:300px;

        &.show{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        }
    }
  }

  .ss-popup-ui-wrapper.bring-in-overlay{
    visibility:visible;
  }


.ss-feature-image{
 display:none;
    @include mq(desktop){
    display:block;
    background-image: url('https://via.placeholder.com/265x355');
    width:40%;
    background-size:cover;
  }
}


// ss-popup-my-content
.ss-popup-my-content {
padding:20px;

  @include mq(desktop){
  width: 60%;
  }

  vertical-align:top;
  
  img {
    max-width: 100%;
    height: auto;
  }

  form{
  padding:0px;
  flex-direction:column;
    button{
      width:70%;
      text-align:center;
      margin-top: 20px;
    }
  }

  h3 {
    padding: 0 10px;
    font-weight: 300;
    margin-bottom: 0;
    text-align:left;
  }
  p {
    padding: 0 10px;
    font-size: 0.9em;
    line-height:30px;
  }
}
