body{
	font-family: 'Raleway', sans-serif;

}

.ss-light-copy{
font-weight:300;
}

.ss-body-copy-default{
color:$body-copy-default;
@extend .ss-light-copy;
line-height:30px;
}

.ss-copy-align-center{
text-align:center;
}
.ss-standard-cta-link{
display: block;
color:#1f1f1f;
margin-top: 10px;
}

.ss-copy-align-left{
text-align:left;
}

.ss-copy-align-right{
text-align:right;
}

header{
-js-display: flex;
@include flexbox();
@include flex-direction(column);
	@include mq(mobile){
		@include flex-direction(row);
	}
}

h1, h2, h3{
font-weight:400;
@extend .ss-copy-align-center;
margin:0px;
}


.ss-logo{
	@include mq(mobile){
		text-align:left;
	}	
}

h1{
	margin-top: $unrelated-spacing;
	@include mq(mobile){
	margin-top: 0px;	
	}
	@include font-size(30);
	@include align-self(center);
}

h2{
@include font-size(25);	
color:$body-copy-default;
margin-bottom: $related-spacing;
}

.ss-hero{
@extend .ss-body-copy-default;
margin:$unrelated-spacing, 0px $unrelated-spacing, 0px;
font-weight:200;
@include font-size(16);
@extend .ss-copy-align-left;
line-height:30px;
margin-bottom:0px;
}

.ss-component-update-form-heading{
margin-top: $related-spacing;
margin-bottom: $related-spacing;
}

.ss-component-arwtworks-paintings-caption{
color:$caption-copy;
display: block;
@extend .ss-light-copy;
@include font-size(14);
margin-bottom: $related-spacing;
text-align:left;
}

.ss-body-style{
@include font-size(14);
line-height:30px;
margin:0px;
padding:20px;
}

.ss-component-introduction-title{
@extend .ss-copy-align-left;	
margin-bottom:0px;
margin-top: $related-spacing;
}

.ss-section-sign-up-disclaimer p{
@extend .ss-container-format;
@extend .ss-light-copy;
@include font-size(16);
padding-bottom:0px;
}

.ss-form-disclaimer{
display:block;
@extend .ss-container-format;
@extend .ss-light-copy;
margin-bottom: $related-spacing;
padding-left:20px;
padding-right:20px;
}