body{
font-family: 'Raleway', sans-serif;
}

.fa-ss-standard-margin{
margin-left: 5px;
}

a{
text-decoration:none;
color:inherit;
}

.ss-light-copy{
font-weight:300;
}

.ss-body-copy-default{
color:$body-copy-default;
@extend .ss-light-copy;
line-height:30px;
}

.ss-standard-separator{
display: block;	
text-align:center;
margin-top: 20px;

	@include mq(mobile){
		display:none;
	}

	&__alwayson{
	display:block;
	text-align:center;
	}

}

.ss-button-maxedout {
	max-width:200px;
}

.ss-standard-cta-link{
display: block;
text-align:center;
color:#1f1f1f;
margin-top: 10px;
text-decoration:underline;
align-self:center;
@include font-size(18);
@include mq(mobile){
	text-align:left;
}
	
	&__primary-cta{
		margin:20px auto 20px auto;
		display:block;
		border:1px solid #333;
		padding:10px;
		text-decoration:none;
		@include mq(mobile){
		display:none;
			
			&-promotion{
				cursor:pointer;
				background: #fff;
				display:block;
				margin:auto;
				text-align:center;
				margin-top: 20px;
				@include mq(tablet){
					margin-top: 10px;
				}
			}

		}
	}
}

.ss-copy-align-center{
text-align:center;
}


.ss-copy-align-left{
text-align:left;
}

.ss-copy-align-right{ 
text-align:right;
}

.ss-standard-separator-top{
	margin-top: $related-spacing - 10px;
}

.ss-standard-separator-bottom{
margin-bottom: $related-spacing - 10px;	
}

header{
margin:auto;
background: #fff;
max-width: $container-max-width;
padding:0px 20px 20px 20px;
-js-display: flex;
@include flexbox();
z-index: map-get($zindex, under-ground);
position: fixed;
top: 0;
left: 0;
right: 0;
@include flex-direction(column);
	@include mq(mobile){
		@include flex-direction(row);
	}
}


h1,h2, h3{
font-weight:400;
@extend .ss-copy-align-center;
margin:0px;
}

h1{
	margin-top: $unrelated-spacing;
	@include mq(mobile){
	margin-top: 0px;	
	}
	@include font-size(30);
	@include align-self(center);
}

h2{
@include font-size(25);	
color:$body-copy-default;
margin-bottom: $related-spacing;
}

.ss-logo{
text-align:left;
margin-top: $related-spacing;
@include mq(tablet){
margin-top: 0px;	
}
}

.ss-hero{
@extend .ss-body-copy-default;
margin:$unrelated-spacing, 0px $unrelated-spacing, 0px;
font-weight:200;
@include font-size(16);
@extend .ss-copy-align-left;
line-height:30px;
margin-bottom:0px;
}

.ss-component-update-form-heading{
margin-top: $related-spacing;
margin-bottom: $related-spacing;
}

.ss-component-arwtworks-paintings-caption{
color:$caption-copy;
display: block;
@extend .ss-light-copy;
@include font-size(14);
margin-bottom: $related-spacing;
text-align:left;
}

.ss-body-style{
@include font-size(14);
line-height:30px;
margin:0px;
padding:20px;
}

.ss-component-introduction-title{
@extend .ss-copy-align-left;	
margin-bottom:0px;
margin-top: $related-spacing;
}

.ss-section-sign-up-disclaimer p{
@extend .ss-container-format;
@extend .ss-light-copy;
@include font-size(16);
padding-bottom:0px;
}

.ss-form-disclaimer{
display:block;
@extend .ss-container-format;
@extend .ss-light-copy;
margin-bottom: $related-spacing;
padding-left:20px;
padding-right:20px;
}
