$container-max-width:1024px;
$primary-cta-color:#5694e0;
$input-light-border:#efefef;
$primary-button-color:#DF5959;
$body-copy-default:#434343;
$caption-copy:#313541;
$related-spacing:30px;
$unrelated-spacing:40px;
$ss-lign-fill:#FAFBFB;