@import 'basscss';
@import 'vars';
@import 'buttons';
@import 'tools';
@import 'objects';
@import 'settings';
@import 'type';
@import 'social-icons';
@import 'basscss';
@import 'paintings-element';
@import 'form-element';

.container-fluid{
padding-left:20px;
padding-right:20px;
max-width:$container-max-width;
}

ul{
	padding-left:0px;
}

ul li{
list-style:none;
}