@import 'font-awesome';
@import 'basscss';
@import 'mq-sass';
@import 'vars';
@import 'tools';
@import 'buttons';
@import 'objects';
@import 'settings';
@import 'type';
@import 'social-icons';
@import 'footer';
@import 'paintings-element';
@import 'form-element';
@import 'normalize';
@import 'intro-element';
@import 'ss-popup';
@import 'navigation';
@import 'photoswipe';

.ss-component{
margin-top: $unrelated-spacing;
}

ul{
margin:0px;
}

ul{
padding-left:0px;
}

ul li{
list-style:none;
}


img{
max-width:100%;
}

.container-fluid{
margin:auto;
padding-left:20px;
padding-right:20px;
max-width:$container-max-width;
}
