// ==================================================
// Settings
// ==================================================

// Ems
// ==================================================
$mq-ems    : false !default;
$mq-em-base: 16px !default;

// Breakpoints
// ==================================================
$mq-breakpoints: (
  mobile: 480px,
  tablet:832px,
  desktop:1024px,
) !default;

// Breakpoints
// ==================================================
$mq-media: "only screen" !default;